.albumContentContainer{
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.album{
    width: 180px;
    height: 190px;
    background-color: lavender;
    color: green;
    margin: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.5s;
}

.album:hover{
    background-color: cornflowerblue;
    color: white;
}

.album p{
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

